services:
  nodejs:
    build:
      context: .
      dockerfile: docker/node/Dockerfile
    container_name: nodejs
    restart: unless-stopped
    expose:
      - "3000"
    networks:
      - app-network

  webserver:
    image: nginx:mainline-alpine
    container_name: webserver
    restart: unless-stopped
    # ports:
    #   - "80:80"
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - nodejs
    networks:
      - app-network

  tunnel:
      container_name: cloudflared-tunnel
      image: cloudflare/cloudflared:latest
      restart: unless-stopped
      command: tunnel run
      environment:
        - TUNNEL_TOKEN=${TUNNEL_TOKEN}
      networks:
        - app-network

networks:
  app-network:
    driver: bridge